{{#partial "content"}}
<div class="row">
  <div class="col-md-10">
    <h2>Proyectos</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apertura</th>
          <th>Finalización</th>
          <th>Estado</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {{#each projectList}}
        <tr>
          <td><a href="/projects/{{id}}" title="Detalle del Proyecto">{{name}}</a></td>	  
          <td>{{userDateTime startTenderDate}}</td>
          <td>{{userDateTime endTenderDate}}</td>	
          <td><span class="label label-{{statusCss status}}">{{statusLabel status}}</span></td>
          <td>
            <a href="/projects/{{id}}" class="btn btn-default btn-xs">Ver</a>
            <form action="/projects/{{id}}/delete" method="POST" class="inline-form" 
              data-confirm="Por favor, confirme la eliminación del proyecto '{{name}}'.">
              <button type="submit" class="btn btn-default btn-xs">Eliminar</button>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <br>
    <br>
    <p><a href="/projects/new" class="btn btn-primary">Nuevo Proyecto</a></p>
  </div>
</div>
{{/partial}}

{{> layout/main}}


