{{#partial "content"}}
<div class="page-header">
  <h1>{{project.name}} <span class="label label-{{statusCss project.status}}">{{statusLabel project.status}}</span></h1>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="pull-right panel panel-info">
      <div class="panel-heading">
        <h4 class="panel-title">Fechas</h4>
      </div>

      <ul class="list-group">
        <li class="list-group-item">
          <b>Apertura de licitación:</b>
          {{userDateTime project.startTenderDate}}
        </li>
        <li class="list-group-item">
          <b>Cierre de licitación:</b>
          {{userDateTime project.endTenderDate}}
        </li>
      </ul>
    </div>

    <p class="lead project-description">{{project.description}}</p>

    <div>
      <a href="/projects/{{project.id}}/document" class="btn btn-default" target="_blank">Descargar Pliego</a>
    </div>

    <div class="clearfix"></div>

    {{#unless project.pending}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Ofertas en este proyecto</h2>
      </div>
      {{#if project.offers}}
      <table class="table">
        <thead>
          <tr>
            <th>Oferente</th>
            <th>Fecha</th>
            <th>Completa</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each project.offers}}
          <tr>
            <td>{{offerer.name}}</td>
            <td>{{userDateTime offerDate}}</td>
            <td>
              {{#if complete}}
              <span class="label label-success">SI</span>
              {{else}}
              <span class="label label-default">NO</span>
              {{/if}}
            </td>
            <td>
              {{#if complete}}
              <a href="/offers/{{id}}/document" class="btn btn-default btn-xs" target="_blank">Ver Documento Oferta</a>
              {{/if}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{else}}
      <div class="panel-body">No se registran ofertas aún.</div>
      {{/if}}
    </div>
    {{/unless}}

    <div class="extra-actions">
      <a href="/projects">Volver al listado</a>
      <span class="pull-right">
        <form action="/projects/{{project.id}}/delete" method="POST" class="inline-form" 
          data-confirm="Por favor, confirme la eliminación del proyecto '{{project.name}}'.">
          <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
        </form>
      </span>
    </div>

  </div>
</div>
{{/partial}}

{{> layout/main}}


